.form {
	text-align: right;
}

.form button {
	font: inherit;
	cursor: pointer;
	background-color: #f55951;
	border: 1px solid #f55951;
	color: white;
	padding: 0.25rem 2rem;
	border-radius: 10px;
	font-weight: bold;
}

.form button:hover,
.form button:active {
	background-color: #f55951cf;
	border-color: #f559516f;
}
