.cart-items {
	list-style: none;
	margin: 0;
	max-height: 25rem;
	overflow: auto;
	padding: 0 1rem;
}

.actions {
	text-align: right;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	position: sticky;
	bottom: 0;
	background-color: #fff;
}

.total {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.5rem;
}

.total__title {
	font-size: 0.9rem;
	color: #5e5e5e;
	margin-bottom: 0.5rem;
}

.actions button {
	font: inherit;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid #f55951;
	padding: 0.8rem 2rem;
	border-radius: 5px;
	margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
	background-color: #f55951cf;
	border-color: #f55951cf;
	color: white;
}

.close-btn-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 2px 1rem;
	position: sticky;
	top: 0;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.button--alt {
	color: #f55951;
	border: none;
	background-color: transparent;
	font-size: 2rem;
	cursor: pointer;
}
.button--alt:hover,
.button--alt:active {
	color: #f55951cf;
}

.actions .button {
	background-color: #f55951;
	color: white;
}

.empty-cart {
	text-align: center;
	margin: 2rem 0;
}
