.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	/* margin: 1rem 0; */
}

.cart-item:not(:last-child) {
	border-bottom: 1px solid #5e5e5e33;
}

.cart-item h2 {
	margin: 0 0 0.5rem 0;
	color: #363636;
	font-size: 1.3rem;
}

.summary {
	width: 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price {
	font-weight: bold;
	color: #f55951;
}

.actions {
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	height: 2.5rem;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.amount {
	font-weight: bold;
	color: #363636;
	min-width: 1.7rem;
	text-align: center;
}

@media (min-width: 768px) {
	.actions {
		flex-direction: row;
	}
}

.cart-item button {
	font: inherit;
	font-weight: bold;
	font-size: 1.25rem;
	color: #f55951;
	border: none;
	width: 2rem;
	text-align: center;
	background-color: transparent;
	cursor: pointer;
	margin-left: 1rem;
	margin: 0.25rem;
}

.cart-item button:hover,
.cart-item button:active {
	color: #f55951cf;
}
